<h2 class="ui top attached header">Rockridge University</h2>

<div class="ui attached segment">

  <div class="ui top attached tabular menu">
    
    <a
      ng-class="{ 'active':filter==='favorites', 'item':true }"
      ng-click="filter = 'favorites'">
      Favorites
    </a>
    <a
      ng-class="{ 'active':filter==='recommended', 'item':true }"
      ng-click="filter = 'recommended'">
      Recommended
    </a>
  </div>

  <div class="ui bottom attached segment">
    <div class='column'>
      <div class='ui items'>
        <a class="item" style='text-align: left;'>
          <div class="ui video" data-source="youtube"
                                data-id="vKFyiQhnvbc"
                                data-image="/public/images/rockridgeULogo.jpg"></div>
          <div class="content">
            <div class="header">Hot to Start Investing</div>
            <div class="meta">
              <span class="category">Category: Investing</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
